header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 23%;
    padding: 2em;
}

article{
  height: 350px;
}

.research {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .research_bar {
    position: relative;
    overflow: hidden;
    margin-top: 16px;
    padding-left: 28px;
    padding-right: 28px;
  }

  .research_bar_input{
    background:#e6e3e3;
    border: none;
    padding: 16px;
    width: 100%;
    border-radius: 10px;
  }

  .research_bar_submit{
    background: transparent;
    border: none;
    position: absolute;
    right: 40px;
    top: 0;
    height: 100%;
  }
 
/* Dropdown Button */
#dropbtn {
    background-color:royalblue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  #dropbtn1 {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  #dropbtn2 {
    background-color: red;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  /* Dropdown button on hover & focus */
  #dropbtn:hover, #dropbtn:focus {
    background-color: rgb(42, 75, 173);
  }

  #dropbtn1:hover, #dropbtn1:focus{
    background-color: #3e8e41;
  }

  #dropbtn2:hover, #dropbtn2:focus {
    background-color:rgba(255, 0, 0, 0.699);
  }
  
  /* The search field */
  #myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  /* The search field when it gets focus/clicked on */
  #myInput:focus {outline: 3px solid #ddd;}
  
  /* The container <div> - needed to position the dropdown content */
  #dropdown, #dropdown1, #dropdown2 {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  /* Dropdown Container */
  .dropdown_container {
      display: flex;
  }

  .recipe_section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 95%;
    margin: 20px auto;
}

.details_container{
  display: flex;
  justify-content: space-between;
  padding: 7px;
  margin-bottom: -44px;
  background-color: #e7e7e7;
}

.details_container img{
  margin-left: auto;
}

.details_container p{
  margin-top: 13px;
  margin-left: 6px;
}

.details_container h2{
  font-size: medium;
}

ul{
  list-style: none;
}

#Ingredients{
  background-color: #3282f7;
}

#Ustensiles{
  background-color: #68d9a5;
}

#Appareils{
  background-color: #ed6455;
}

/* Filters section */
.filter {
  display: none;
}

@media only screen and (min-width: 992px) {
  .filter {
    margin-top: 20px;
    display: flex;
    gap: 60px;
  }
}

.filter__custom-select {
  position: relative;
  cursor: pointer;
  width: 153px;
}

.filter__custom-select input[type="text"]::placeholder {
  color: #fff;
  opacity: 0.5;
}

.filter__select {
  border: none;
  color: #fff;
  width: 100%;
  height: 69px;
  text-align: start;
  padding-left: 20px;
  border-radius: 10px;
  font-size: var(--fs-18);
  cursor: pointer;
}

.filter__select:focus {
  outline: none;
}

.filter__select--ingredients {
  background: #3282f7;
}

.filter__select--appareils {
  background: green;
}

.filter__select--ustensiles {
  background: red;
}

.filter__custom-arrow {
  position: absolute;
  right: -2px;
  top: 0;
  bottom: 4rem;
  display: flex;
  align-items: center;
  height: 100%;
  pointer-events: none;
}

.filter__custom-arrow--rotate {
  transform: rotate(180deg);
}

.filter__custom-arrow::before {
  content: url("../assets/dropdown-icon-down.png");
}

.filter__custom-menu {
  display: none;
}

.filter__show {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 65px;
  color: #fff;
  width: 100%;
  max-height: 360px;
  overflow: hidden;
  border-bottom-left-radius: var(--br-5);
  border-bottom-right-radius: var(--br-5);
}

.filter__custom-menu--primary {
  background: #3282f7;
}

.filter__custom-menu--success {
  background: blue;
}

.filter__custom-menu--danger {
  background: blue;
}

.filter__custom-option {
  width: 33%;
  padding: 4px 0 4px 20px;
  font-size: var(--fs-18);
  /* color: rgb(49, 49, 49); */
  /* text-transform: capitalize; */
}

.filter__custom-option--enable {
  width: 33%;
  padding: 4px 0 4px 20px;
  font-size: var(--fs-18);
  color: rgb(165, 162, 162);
  pointer-events: none;
}

.filter__custom-option--enable:hover {
  cursor: default;
}

.filter__custom-option--enable::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: grey;
  transition: 300ms;
}
.filter__custom-option::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: #fff;
  transition: 300ms;
}

.filter__custom-option:hover::after {
  width: 15%;
}

.ingredient_list{
  display: grid;
  height: 114px;
  margin-left: -32px;
  overflow: hidden;
}

#filter_ingredients{
  background: #3282f7;
}

#filter_appareils{
  background:  #3e8e41;
}

#filter_ustensiles{
  background:#ed6455;
}

.recipe_container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 20px;
  background-color: #e7e7e7;
  border-radius: 0px 0px 10px 10px;
  height: 171px;
}

.recipe_container p{
 height: 130px;
 text-overflow: ellipsis;
 overflow: hidden;
 margin-right: 15px;
}


article{
  height: 364px;
  margin-top: 17px;
}

.img_container{
  height: 178px;
  background-color: #c7bebe;
  border-radius: 10px 10px 0px 0px;
}

.img_container img{
  width: 10%;
  padding: 1em;
}

.select_container{
  padding-left: 28px;
  height: 8em;
}