body {
  font-family: "latoregular", sans-serif;
}

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 23%;
  padding: 2em;
}

article {
  height: 350px;
}

.research {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.research_bar {
  position: relative;
  overflow: hidden;
  margin-top: 16px;
  padding-left: 28px;
  padding-right: 28px;
}

.research_bar_input {
  background: #e6e3e3;
  border: none;
  padding: 16px;
  width: 100%;
  border-radius: 10px;
}

.research_bar_submit {
  background: transparent;
  border: none;
  position: absolute;
  right: 40px;
  top: 0;
  height: 100%;
}

.recipe_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 95%;
  margin: 20px auto;
}

.details_container {
  display: flex;
  justify-content: space-between;
  padding: 7px;
  margin-bottom: -44px;
  background-color: #e7e7e7;
}

.details_container img {
  margin-left: auto;
  margin-bottom: 5px;
}

.details_container p {
  margin-top: 13px;
  margin-left: 6px;
  font-weight: bold;
}

.details_container h2 {
  font-size: medium;
}

ul {
  list-style: none;
}

.filter {
  margin-left: 30px;
  display: flex;
  gap: 60px;
}

.filter__custom-select {
  position: relative;
  cursor: pointer;
  width: 153px;
}

.filter__custom-select input[type="text"]::placeholder {
  color: #fff;
  opacity: 0.5;
}

.filter__select {
  border: none;
  color: #fff;
  width: 100%;
  height: 69px;
  text-align: start;
  padding-left: 20px;
  border-radius: 10px;
  font-size: var(--fs-18);
  cursor: pointer;
}

.filter__select--ingredients {
  background: #3282f7;
}

.filter__select--appareils {
  background: green;
}

.filter__select--ustensiles {
  background: red;
}

.filter__custom-arrow {
  position: absolute;
  right: -2px;
  top: 0;
  bottom: 4rem;
  display: flex;
  align-items: center;
  height: 100%;
  pointer-events: none;
}

.filter__custom-arrow::before {
  content: url("../assets/dropdown-icon-down.png");
}

.ingredient_list {
  display: grid;
  height: 114px;
  margin-left: -32px;
  overflow: hidden;
}

.recipe_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 20px;
  background-color: #e7e7e7;
  border-radius: 0px 0px 10px 10px;
  height: 171px;
}

.recipe_container p {
  height: 130px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 15px;
}

article {
  height: 364px;
  margin-top: 17px;
}

.img_container {
  height: 178px;
  background-color: #c7bebe;
  border-radius: 10px 10px 0px 0px;
}

.img_container img {
  width: 10%;
  padding: 1em;
}

.select_container {
  padding-left: 28px;
  height: 8em;
}

.filterIngNew {
  display: block;
}

.filter_ingredients {
  background: #3282f7;
  display: none;
  flex-wrap: wrap;
  position: absolute;
  top: 55px;
  color: #fff;
  width: 332%;
  max-height: 348px;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
}

.filter_appareils {
  background: #3e8e41;
  display: none;
  flex-wrap: wrap;
  position: absolute;
  top: 55px;
  color: #fff;
  width: 300%;
  max-height: 348px;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
}

.filter_ustensiles {
  background: #ed6455;
  display: none;
  flex-wrap: wrap;
  position: absolute;
  top: 55px;
  color: #fff;
  width: 332%;
  max-height: 342px;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  text-transform: capitalize;
}

.filter_ingredients li {
  width: 31%;
  padding: 12px 0px 4px 23px;
  color: white;
  margin-left: -20px;
}

.filter_ustensiles li {
  width: 31%;
  padding: 12px 0px 4px 23px;
  color: white;
  margin-left: -20px;
}

.filter_appareils li {
  width: 31%;
  padding: 12px 0px 4px 23px;
  color: white;
  margin-left: -20px;
}

#tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  gap: 10px;
}

#tags div {
  display: flex;
  align-items: center;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
}

#tags .ingredientList{
  background: #3282f7;
}

#tags .applianceList{
  background: #008000;
}

#tags .ustensilList{
  background: #f00;
}

#tags div li {
  margin-right: 13px;
  text-transform: capitalize;
}

.cards__no-recipes {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 200px;
  z-index: -1;
}

.cards__no-recipes-text {
  font-weight: bold;
  font-size: var(--fs-18);
  color: rgb(49, 49, 49);
}